name: PHP Composer

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-version: ['8.2', '8.3', '8.4', '8.5']
    steps:
    - uses: actions/checkout@v6
    - name: Use PHP ${{ matrix.php-version }}
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-version }}
        extensions: curl
    - name: Validate composer.json and composer.lock
      run: composer validate
    - name: Install dependencies
      run: composer update --prefer-dist --no-progress
    - name: Run test suite
      run: composer run-script test

  phpstan:
    runs-on: ubuntu-latest
    name: PHPStan
    steps:
    - uses: actions/checkout@v6
    - uses: shivammathur/setup-php@v2
    - name: Install dependencies
      run: composer install --no-progress
    - name: Run PHPStan
      run: composer run-script analyse
